* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(/bg.jpg);
  background-position: top center;
  background-size: cover;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
